<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (C) 2009-2016 Lightbend Inc. <https://www.lightbend.com>
  -->
<!-- The default logback configuration that Play uses in dev mode if no other configuration is provided -->
<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZZ} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configure the Sentry appender, overriding the logging threshold to the WARN level -->
    <!--<appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>-->

    <logger name="play" level="INFO" />
    <logger name="jackson" level="DEBUG"/>
    <logger name="application" level="ERROR" />
    <logger name="services.PostrunActionScanner" level="OFF"/>
    <logger name="services.RabbitMqPropagator" level="DEBUG"/>
    <logger name="org.reflections" level="OFF"/>
    <logger name="helpers.ProjectCreateHelperImpl" level="WARN"/>
    <logger name="helpers.PostrunSorter" level="WARN"/>
    <logger name="controllers.MessageTest" level="WARN"/>
    <logger name="models.ProjectRequestPluto" level="WARN"/>
    <logger name="drivers.PathStorage" level="DEBUG"/>
    <logger name="models.PlutoWorkingGroup" level="WARN"/>
    <logger name="models.PlutoCommission" level="WARN"/>
    <logger name="services.ClockSingleton" level="INFO"/>
    <logger name="controllers.Files" level="WARN" />
    <logger name="controllers.StoragesController" level="INFO"/>
    <logger name="drivers.MatrixStoreDriver" level="DEBUG"/>
    <logger name="controllers.StorageControllerSpec" level="WARN"/>
    <logger name="auth" level="DEBUG"/>
    <logger name="controllers.Application" level="WARN"/>
    <logger name="controllers.System" level="INFO"/>
    <logger name="auth.LDAP" level="INFO"/>
    <logger name="services.actors.MessageProcessorActor" level="WARN"/>
    <logger name="services.actors.MessageProcessorState" level="WARN"/>
    <logger name="services.PlutoProjectTypeScanner" level="WARN"/>
    <logger name="models.FileEntry" level="INFO" />
    <logger name="controllers.Files" level="WARN" />
    <logger name="postrun.UpdateAdobeUuid" level="INFO"/>
    <logger name="models.ProjectMetadata" level="WARN"/>
    <logger name="postrun.UpdateAdobeUuidSpec" level="WARN"/>
    <logger name="services.StorageScanner" level="INFO"/>
    <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />
    <logger name="MockProjectCreationActor" level="DEBUG"/>
    <logger name="services.actors.ProjectCreationActor" level="INFO"/>
    <logger name="ProjectCreation.ProjectCreationSpec" level="ERROR"/>
    <logger name="services.actors.creation" level="INFO"/>
    <logger name="services.ValidateProject" level="INFO"/>
    <logger name="streamcomponents.ProjectSearchSource" level="INFO"/>
    <logger name="helpers.AllowCORSFilter" level="WARN"/>
    <logger name="services.DataMigration" level="INFO"/>
    <logger name="services.migrationcomponents" level="INFO"/>
    <logger name="services.PeriodicScanReceiver" level="INFO"/>
    <logger name="postrun" level="INFO"/>
    <logger name="services.ProjectBackup" level="DEBUG"/>

    <logger name="services.CommissionStatusPropagator" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <!-- <appender-ref ref="Sentry" />-->
    </root>

</configuration>
