@(cbVersion:String, deploymentRoot:String)

<html>
  <head>
    <meta charset="utf-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Todo: Replace this with Material UI Icons -->
    <link rel="stylesheet" media="screen"
    href="@(deploymentRoot)@routes.Assets.at("/public", "font-awesome-4.7.0/css/font-awesome.min.css")">
    <title>Projectlocker</title>
  </head>
  <body>
    <div id="app" />
    <script>
      const deploymentRootPath = "@(deploymentRoot)/";
    </script>
    <script
      src="@(deploymentRoot)/assets/javascripts/bundle.js?v=@(cbVersion)"
      type="text/javascript"
    ></script>
  </body>
</html>
